.main{
    margin: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 50%;
}
.sedan{
    padding: 2rem;
    font-size: small;
    background-color: orange;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.sedan .btn{
    border-color: white;
    color: orange;
}
.sedan .btn:hover{
    background-color: orange;
    color: white;
}
.d{
    padding-bottom: 4rem;
}
.suv{
    padding: 2rem;
    font-size: small;
    background-color: rgb(0, 149, 255);
    color: white;
}
.suv .btn{
    color: rgb(0, 149, 255);;
}
.suv .btn:hover{
    background-color: rgb(0, 149, 255);
    color: white;
}
.luxury{
    padding: 2rem;
    font-size: small;
    background-color: rgb(0, 100, 82);
    color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.luxury .btn{
    color: rgb(0, 100, 82);
}
.luxury .btn:hover{
    background-color: rgb(0, 100, 82);
    color: white;
}
.btn{
    margin-top: 25%;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    border-color: white;
}
.heading{
    font-size: 1.5rem
}
